header{
    background-image: url(fruits.jpg.avif);
    color: rgb(255, 255, 255);
    padding: 16px;
    margin: 0;
    border: 1px solid rgb(106, 137, 40);
}

h1.header{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    -webkit-text-stroke-color: rgb(77, 77, 77);
    -webkit-text-stroke-width: 1px;
}

body{
    margin: 2px 2px 2px 2px;
    background: linear-gradient(360deg, rgb(255, 255, 255), rgba(250, 202, 105, 0.323)) no-repeat;
}

button{
    border: rgb(104, 104, 104);
    background-color: rgb(133, 171, 49);
    height: 40px;
    width: 120px;
    margin: 0 5px 0 5px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    text-decoration: underline;
}

img.strawberry{
    float: left;
    height: 100px;
    margin: 0 0 10px 0;
}

img.peach{
    float: left;
    height: 100px;
    padding: 17px;
}

img.orange{
    float: left;
    height: 100px;
    padding: 20px;
}

div{
    padding: 10px 15px 10px 15px;
    background: white;
    margin: 15px 10px 15px 10px;
}

div.navigation{
    text-align: center;
    background: rgb(254, 230, 157);
    padding: 1rem;
    border-bottom: 1px solid rgb(106, 137, 40);
    margin: 0;
}

h2{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2.strawberry{
    color: rgb(222, 58, 58);
}

h2.peach{
    color: rgb(244, 117, 85);
}

h2.orange{
    color: rgb(255, 170, 32);
}

p{
    text-align: justify;
    line-height: 1.2;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

